@model RevisionNotes.Models.Note;
@{
    ViewData["Title"] = ViewData["TopicName"];
}

<section class="notes-wrapper">
<h1 class="header">
    @ViewData["TopicBoard"] @ViewData["TopicLevel"] @ViewData["TopicSubject"]  @ViewData["TopicName"]
</h1>
<div class="content">
    <p>@Model.content</p>
</div>
</section>
